.wrapper-page {
    display: grid;
    place-items: center;
    height: 100vh;
}

.wrapper-slider {
    display: grid;
    place-items: center;
    height: 350px;
    width: 300px;

    border-image: linear-gradient(45deg, #b2dd16, #0e86be) 1 / 2px;
}

.slider {
    position: relative;

    height: 200px; /*10.42vw*/
    width: 200px; /*10.42vw*/

    border: 2px solid black;

    overflow: hidden;
}



.controll {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.controll-button {
    display: grid;
    place-items: center;
    height: 40px;
    width: 40px;

    font-size: 20px;
    font-weight: 700;

    border: 1px solid #0e86be;
    border-radius: 50%;

    cursor: pointer;
}

.controll-button > img {
    height: 49%;
    width: 39%;
    
    object-fit: contain;
    object-position: center;
}
